<html>
<head>

<style>
.center{text-align:center}
.button{
		border: 2px solid black;
        padding:8px 16px;
        vertical-align:middle;
        text-decoration:none;
        color:black;
        text-align:center;
        cursor:pointer;
        }
h1 {font-family:  Arial, sans-serif}
</style>
</head>
<body>

<header class="center" style="padding:150px 100px">
  <h1>Syed Moiz</h1>
  <div >
      <a href="https://www.w3schools.com/" class="button">Github</a>
      <a href="https://www.w3schools.com/" class="button">LinkedIn</a>
      <a href="https://www.w3schools.com/" class="button">Contact</a>
  </div>
</header>

</body>
</html>
